body {
    background-color: #dedede42;
}

.blog-list {
    background-color: white;
}

.blog-list h3 {
    margin-bottom: 30px;
}

.header {
    margin-bottom: 30px;
    margin-top: 30px;
}

.header p{
    font-size: 28px;
    display: inline-block;
}

.user-info{
    display: inline-block;
    margin-left: 70%;
}
.user-info button{
    margin-left: 20px;
}

#delete:hover{
    cursor: pointer;
}